// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar{
    background: white;
    border-bottom: 1px solid #d6d6d6;
}

.app-body{
    display: flex;
}

.main{
    flex: 1;
}

.sidebar {

    flex: .2;
    background: #002038;
    position:relative;
    
    .nav{
        display:block;
        width:100%;
    }   

    li,ul {
        list-style:none;
        padding:0;
        width:100%;
    }

    .sidebar-nav{
    
        width:100%;
        
    }

    .nav-item a{
    
        color:#a4d1ff;
    }
    

    .active{
        display: inline-block !important;
        overflow-y: visible !important;
    }
    
}
