<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        <div>Questions : {{ i }}</div>
                        {{ question.text }}
                    </div>

                    <div class="row">
                        <div class="col-md-6" v-for="(answer,i) in question.answers" >
                            
                            
                            <label :for="'ans-'+(i+1)">
                                <input type="radio" 
                                v-model="answer_id" 
                                :value="answer.id" 
                                :id="'ans-'+(i+1)">
                                 {{ answer.text }}
                            </label> 
                           
                        </div>
                    </div>

             
                     <button @click="nextQuestion">Next</button>
                     <button @click="prevQuestion">Prev</button> 
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {   

         data(){
            return {
                questions : [],
                question : {},
                
                answers : [],
                answer_id : 0,
                i : 0,
            }
        },
        
        mounted(){
        
            this.$http.get('/api/get_match_questions').then(response => {

                this.questions = response.body;
                this.question = this.questions[0]
                
            });
        },

        methods : {

            nextQuestion(){

                this.answers[this.i] = {
                    q_id : this.question.id,
                    a_id : this.answer_id
                }
                this.answer_id = 0

                if (this.i < this.questions.length - 1)
                    this.i = this.i + 1;

                if (this.answers[this.i] !== undefined)
                    this.answer_id = this.answers[this.i].a_id
                
     
                
                this.question = this.questions[this.i]
            },

            prevQuestion(){

                this.answers[this.i] = {
                    q_id : this.question.id,
                    a_id : this.answer_id
                }
                this.answer_id = 0

                if (this.i > 0) 
                    this.i = this.i - 1;

                if (this.answers[this.i] !== undefined)
                    this.answer_id = this.answers[this.i].a_id
                
                    
                    
                this.question = this.questions[this.i]
            }
        },

    }
</script>
